.navbar{
    padding: 30px 120px;
    &__img{
        display: flex;
        max-width: 170px;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list{
        margin-right: auto;
        margin-left: 30px;
        max-width: 50%;
    }
    &__list a{
        max-width: 100%;
        font-size: 14px;
        color: white;
        opacity: 0.7;
        transition: opacity 4s ease;
        &:hover{
        opacity: 1;
        }
        &:hover ~ div{
            width: 100%;
        }

    }
    &__list a ~ div{
        transition:  1s ease-in;
        margin-top: 5px;
    }
    &__list div{
        width: 0%;
        height: 1px;
        background-color: white;
    }
    &__item{
        display: flex;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
    &:hover a{
        opacity: 1;
    }
    &:hover div{
        width: 100%;
    }

    }
    &__sign{
        padding: 9px 22px;
        border-radius: 5px;
        display: flex;
        margin-top: -20px;
        border: 1px solid white;
  &__bg{
    margin-left:20px;
    margin-right: 20px;
    background-color: white;
    height: 15px;
    width: 2px;
    margin-top: 2px;
  }
    }
    &__sign a{
        color: white;
        font-size: 14px;
    }

}