.navbar{
    padding: 30px 120px;
    &__img{
        display: flex;
        max-width: 170px;
    }
    &__toogle__list{
        display: none;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__pic{
        display: none;
    }
    &__list{
        margin-right: auto;
        margin-left: 30px;
        max-width: 50%;
    }
    &__list a{
        max-width: 100%;
        font-size: 14px;
        color: white;
        opacity: 0.7;
        transition: opacity 4s ease;
        &:hover{
        opacity: 1;
        }
        &:hover ~ div{
            width: 100%;
        }

    }
    &__list a ~ div{
        transition:  1s ease-in;
        margin-top: 5px;
    }
    &__list div{
        width: 0%;
        height: 1px;
        background-color: white;
    }
    &__item{
        display: flex;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
    &:hover a{
        opacity: 1;
    }
    &:hover div{
        width: 100%;
    }

    }
    &__sign{
        padding: 9px 22px;
        border-radius: 5px;
        display: flex;
        margin-top: -20px;
        border: 1px solid white;
  &__bg{
    margin-left:20px;
    margin-right: 20px;
    background-color: white;
    height: 15px;
    width: 2px;
    margin-top: 2px;
  }
    }
    &__sign a{
        color: white;
        font-size: 14px;   
    
    }

}

@media (max-width:1254px){
    .navbar{
        &__item a{
            font-size: 12px;
        }
        &__sign{
            padding: 6px 12px;
            margin-top: 1px;
        }
    }
}


@media (max-width:1138px){
    .navbar{
        &__item a{
        font-size: 10px;
        }
    }
}

@media (max-width:1030px) {
    .navbar{
        &__sign a{
           font-size: 10px;
           margin-top: -14px;
        }
        &__list{
            display: none !important;
        }
        &__item{
            display: none;
        }
        &__sign{
            padding: 9px 22px;
            border-radius: 5px;
            display: flex;
            margin-top: -20px;
            border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        &__sign a{
            margin-top: 2px;
            font-size: 16px;
        }

    }
}

@media (max-width:760px){
  .navbar{
    &__sign{
        padding: 6px 12px;
        margin-top: 1px;
    }
  }
}

@media (max-width:658px){
    .navbar {
        &__pic{
            display: flex;
            cursor: pointer;
            width: 50px;
            height: 30px;
            fill: white;
        }
        &__sign{
            display: none;
        }
        &__box{
            padding: 15px 25px;
        }
        &__toogle__list_row{
            position: absolute;
            right: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            width: 100%;
        }
        &__toogle__item a{
        max-width: 100%;
            color: white;
            display: flex;
            font-size: 12px;
        }
        &__toogle__item{
            margin-top: 10px;
        }

    }
}