.section{
    padding: 40px 0;
    &__bg{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__bg__row{
        display: block;
        width: 60px;
        height: 2px;
        background-color: rgb(10, 90, 181);
        margin: 10px 0;
    }
    &__bg h2{
        color: #1f2949;
        margin: 9px 0;
    }
    &__bg p{
        color:#1f2949;
    }
    &__hero{
        width: 50%;
        height: 3px;
        margin: 20px 0;
        background-color: #7380a8;
    }
    &__pic{
        display: flex;
        max-width: 100%;
    }
    &__picture{
        max-width: 300px;
        width: 30%;
        min-width: 200px;
        margin: 10px 0;
        cursor: pointer;
    }
    &__box{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
}